name: Release

on:
  push:
    tags:
      - 'v*' # Trigger on tags like v1.0, v1.0.1, etc.

permissions:
  contents: write

jobs:
  build:
    name: Build & Release
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Package
        run: |
          chmod +x package.sh
          ./package.sh

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: Klock.dmg
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
